@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo</h1>
    <p>Vídeo da aplicação <a href="https://docs.microsoft.com/aspnet/core">Sistema LDXPS</a>.</p>
</div>
