@model WebApplication9.Models.Cliente

@{
    ViewData["Title"] = "NovoCliente";
}

<h1>Novo Cliente</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NovoCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DSNOME" class="control-label">Nome</label>
                <input asp-for="DSNOME" class="form-control" />
                <span asp-validation-for="DSNOME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDTIPO" class="control-label">Tipo de Pessoa 'PF' ou 'PJ'</label>
                <input asp-for="IDTIPO" class="form-control" />
                <span asp-validation-for="IDTIPO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CDVEND" class="control-label">Código do Vendedor</label>
                <input asp-for="CDVEND" class="form-control" />
                <span asp-validation-for="CDVEND" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DSLIM" class="control-label">Limite de Crédito</label>
                <input asp-for="DSLIM" class="form-control" />
                <span asp-validation-for="DSLIM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
