@model WebApplication9.Models.Vendedor

@{
    ViewData["Title"] = "AtualizarVendedor";
}

<h1>AtualizarVendedor</h1>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AtualizarVendedor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CDVEND" />
            <div class="form-group">
                <label asp-for="DSNOME" class="control-label"></label>
                <input asp-for="DSNOME" class="form-control" />
                <span asp-validation-for="DSNOME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CDTAB" class="control-label"></label>
                <input asp-for="CDTAB" class="form-control" />
                <span asp-validation-for="CDTAB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTNASC" class="control-label"></label>
                <input asp-for="DTNASC" class="form-control" />
                <span asp-validation-for="DTNASC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
